<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{>header}}
    <p> This app was created by mcnalj using mapbox.com and a weather API.</p>
    {{>footer}}
</body>

</html>